.slide-button {
    position: absolute;
    top: 7rem;
    bottom: 0;
<<<<<<< Updated upstream:src/components/NetflixSlider/SlideButton.scss
    width: 3rem;
=======
<<<<<<< Updated upstream:src/components/views/MainPage/Sections/NetflixSlider/SlideButton.scss
    width: 55px;
>>>>>>> Stashed changes:src/components/views/MainPage/Sections/NetflixSlider/SlideButton.scss
    background: rgba(0, 0, 0, 0.6);
=======
    width: 3.5rem;
    height: 6rem;
    background: rgba(0, 0, 0, 0.2);
>>>>>>> Stashed changes:src/components/NetflixSlider/SlideButton.scss
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 0;
    z-index: 4;
  
    span {
      width: 1.1625rem;
      color: #fff;
      display: block;
      margin: 0 auto;
    }
  
    &--next {
      right: -3rem;
  
      span {
        transform: rotateZ(-90deg);
      }
    }
  
    &--prev {
      left: -3rem;
  
      span {
        transform: rotateZ(90deg);
      }
    }
  }