.slide-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0 0;
    z-index: 4;
  
    span {
      width: 1.1625rem;
      color: #fff;
      display: block;
      margin: 0 auto;
    }
  
    &--next {
      right: -2rem;
  
      span {
        transform: rotateZ(-90deg);
      }
    }
  
    &--prev {
      left: -2rem;
  
      span {
        transform: rotateZ(90deg);
      }
    }
  }