body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#create-map-upload > .ant-upload-picture-card-wrapper > .ant-upload-list > .ant-upload-select-picture-card{
  width: 200px;
  height: 200px;
}

#create-map-upload > .ant-upload-picture-card-wrapper > .ant-upload-list > .ant-upload-list-picture-card-container{
  width: 200px;
  height: 200px;
}
